@use "../../styles/variables" as *;

.hero {
  display: flex;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
  max-width: 20rem;
  margin: 0 auto;
  background-color: $color-primary-black;

  &__video {
    width: 100%;
    display: block;
    object-position: center;
    object-fit: fill;
  }
}
