@use "../../styles/variables" as *;

.hero {
  display: flex;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background-color: $color-primary-black;
  padding-top: 0;
  padding-bottom: 0;

  &__video {
    width: 100%;
    display: block;
    object-position: center;
    object-fit: fill;
  }
}
