@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.hero {
  display: flex;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background-color: $video-player-background-color;
  padding: 0;
  @include tablet {
    padding: $padding-regular-tablet-desk;
    padding-top: 0;
    padding-bottom: 0;
  }

  &__video {
    width: 100%;
    display: block;
    object-position: center;
    object-fit: cover;
    aspect-ratio: 16/9;

    @include desktop {
      max-width: 60rem;
    }
  }
}
