@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;
@use "../../styles/typography" as *;

.upload {
  padding-top: 0;
  overflow: hidden;
  @include small-screen-body-copy;
  @include desktop {
    padding: 0 6.5rem;
    max-width: 80rem;
    margin: 0 auto;
    overflow: revert;
  }

  &__title {
    padding-top: $padding-before-headline-mobile;
    position: relative;
    @include small-screen-page-header;

    &::before {
      content: "";
      height: 1px;
      width: 300%;
      background-color: $line-outline-color;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%);
    }

    @include tablet {
      padding: $padding-before-headline-tablet-desk 0
        $padding-before-headline-mobile 0;
      border-bottom: 1px solid $line-outline-color;
    }
  }

  .input {
    padding-top: $padding-regular-mobile;
    @include tablet {
      padding-top: $padding-regular-tablet-desk;
    }
    @include desktop {
      @include flex-layout(row, space-between, center);
      border-bottom: 1px solid $line-outline-color;
      padding-bottom: $padding-regular-tablet-desk;
    }

    &__video {
      @include flex-layout(column);

      @include desktop {
        margin-right: $padding-regular-tablet-desk;
      }

      &-title {
        color: $secondary-text-color;
        text-transform: uppercase;
        @include desktop {
          margin-top: 1rem;
        }
      }

      &-image {
        border-radius: 0.25rem;
        width: 100%;
        margin-top: 0.25rem;
        @include tablet {
          width: 50%;
        }

        @include desktop {
          width: 20rem;
        }
      }
    }

    &__details {
      padding-bottom: $padding-regular-mobile;

      @include tablet {
        border-bottom: 1px solid $line-outline-color;
        padding-bottom: $padding-regular-tablet-desk;
      }

      @include desktop {
        width: 100%;
        border-bottom: none;
        padding-bottom: 0;
      }

      label {
        @include flex-layout(column, center);
        color: secondary-text-color;
        margin-top: $padding-regular-mobile;
        text-transform: uppercase;
      }

      input,
      textarea {
        font-family: inherit;
        width: 100%;
        min-width: 15rem;
        min-height: 2.25rem;
        padding: 0.75rem;
        border: 1px solid $line-outline-color;
        border-radius: 0.25rem;
        margin-top: 0.25rem;
        background-color: $form-background-color;

        &::placeholder {
          color: $primary-text-color;
        }

        @include tablet {
          padding: 1rem;
          min-height: 2.5rem;
        }
      }

      textarea {
        resize: none;
        min-height: 5rem;
      }
    }
  }

  &__buttons {
    @include tablet {
      padding-top: $padding-before-headline-mobile;
      @include flex-layout(row, flex-end, center);
    }

    &--publish {
      @include tablet {
        order: 2;
      }
    }

    &--cancel {
      margin-top: $padding-regular-mobile;
      background-color: transparent;
      color: $primary-CTA-color;

      @include tablet {
        order: 1;
        margin-top: 0;
      }
    }
  }
}
