@font-face {
  font-family: "Avenir Next";
  src: url(../assets/Font/Alternative-files/AvenirNextLTPro.ttf)
      format("truetype"),
    url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../assets/Font/Alternative-files/AvenirNextLTProBold.ttf)
      format("truetype"),
    url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
