//color primary
$color-primary-black: #323232;
$color-primary-silver: #afafaf;
$color-primary-white: #ffffff;
$color-primary-blue: #0095ff;

//color secondary
$color-secondary-black: #000000;
$color-secondary-mercury: #e1e1e1;
$color-secondary-alabaster: #fafafa;
$color-secondary-drk-blue: #0065ad;

//padding
$padding-before-headline-tablet-desk: 2.25rem;
$padding-regular-tablet-desk: 1.5rem;
$padding-before-headline-mobile: 1.5rem;
$padding-regular-mobile: 1rem;

//Breakpoint
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
