//color primary
$primary-text-color: #323232;
$primary-CTA-color: #0095ff;
$secondary-text-color: #afafaf;
$CTA-text-color: #ffffff;

//color secondary
$video-player-background-color: #000000;
$CTA-hover-color: #0065ad;
$line-outline-color: #e1e1e1;
$form-background-color: #fafafa;

//padding
$padding-before-headline-tablet-desk: 2.25rem;
$padding-regular-tablet-desk: 1.5rem;
$padding-before-headline-mobile: 1.5rem;
$padding-regular-mobile: 1rem;

//Breakpoint
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
