//color
$color-black: #323232;
$color-silver: #afafaf;
$color-white: #ffffff;
$color-drk-black: #000000;
$color-mercury: #e1e1e1;
$color-alabaster: #fafafa;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
