@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.description {
  padding-top: $padding-before-headline-mobile;
  @include small-screen-body-copy;

  @include desktop {
    padding-top: $padding-before-headline-tablet-desk;
    border-right: 1px solid $color-secondary-mercury;
  }

  &__title {
    @include small-screen-page-header;
  }

  .highlight {
    margin: $padding-regular-mobile 0;
    padding: $padding-regular-mobile 0;
    border-top: 1px solid $color-secondary-mercury;
    border-bottom: 1px solid $color-secondary-mercury;
    @include flex-layout(row, center, center);
    flex-wrap: wrap;
    color: $color-primary-silver;

    @include desktop {
      justify-content: flex-start;
      border-top: none;
      padding-bottom: 0.4rem;
      margin: 0 -2rem $padding-regular-tablet-desk 0;
    }

    &__artist {
      flex: 50%;
      font-weight: 700;
      color: $color-primary-black;
      @include desktop {
        flex: none;
        order: 1;
        margin-right: $padding-regular-tablet-desk;
      }
    }

    &__views {
      flex: 50%;
      @include flex-layout(row, flex-start, center);
      @include desktop {
        flex: none;
        order: 3;
        margin-left: auto;
      }

      &-count {
        margin: 0.1rem 0 0 0.5rem;
      }
    }

    &__date {
      margin-top: $padding-regular-mobile;
      flex: 50%;
      @include desktop {
        margin-top: 0;
        flex: none;
        order: 2;
      }
    }

    &__likes {
      margin-top: $padding-regular-mobile;
      flex: 50%;
      @include flex-layout(row, flex-start, center);
      @include desktop {
        flex: none;
        order: 4;
        margin: 0 2rem 0 $padding-regular-tablet-desk;
      }

      &-count {
        margin: 0.1rem 0 0 0.5rem;
      }
    }

    &__text {
      color: $color-primary-black;
    }
  }
}
