@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.nav {
  @include flex-layout(column, center, center);
  @include tablet {
    @include flex-layout(row, space-between, center);
    padding: $padding-regular-mobile $padding-regular-tablet-desk;
  }
  @include desktop {
    padding: $padding-regular-mobile 6.5rem;
    max-width: 80rem;
    margin: 0 auto;
  }

  &__logo {
    max-width: 7.5rem;
    margin-bottom: $padding-regular-mobile;
    display: inline-block;
    width: 7.5rem;
    @include tablet {
      margin-bottom: 0;
    }
  }

  &__logo-image {
    width: 100%;
    vertical-align: bottom;
  }

  &__items {
    @include flex-layout(row, space-between, center);
    flex-wrap: wrap;
    width: 100%;
    @include tablet {
      width: auto;
      max-width: 80rem;
    }
  }

  &__search-label {
    flex: 1;
  }

  &__search {
    background: url(../../assets/Icons/search.svg) no-repeat left;
    background-position: 0.5rem center;
    padding-left: 2rem;
    background-size: 1rem;
    order: 1;
    background-color: $color-secondary-alabaster;
    border: 1px $color-secondary-mercury solid;
    border-radius: 4px;
    min-width: 14.7rem;
    min-height: 2.2rem;
    font-family: "Avenir Next";
    width: 100%;

    &::placeholder {
      color: $color-primary-black;
    }

    @include tablet {
      order: 1;
    }
  }

  &__button {
    width: 100%;
    order: 3;
    @include tablet {
      width: auto;
    }
  }

  &__button-component {
    width: 100%;
    margin-top: $padding-regular-mobile;
    @include tablet {
      order: 2;
      margin-top: 0;
      margin: 0 $padding-regular-tablet-desk;
    }
  }

  &__profile-picture {
    max-width: 2.25rem;
    height: 2.25rem;
    margin-left: $padding-regular-mobile;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    order: 2;

    @include tablet {
      max-width: 2.55rem;
      height: 2.5rem;
      order: 3;
    }
  }
}
