@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.recommendation {
  padding-top: 0;
  @include small-screen-body-copy;

  @include desktop {
    padding-top: $padding-before-headline-tablet-desk;
  }

  &__videos {
    @include flex-layout(column, center, flex-start);
    max-width: 17rem;
  }

  &__video {
    @include flex-layout(row, space-between, stretch);
    margin-top: $padding-regular-mobile;
    height: 3.8rem;

    &-thumbnail {
      max-width: 6rem;
      border-radius: 4px;
      margin-right: $padding-regular-mobile;
      object-fit: cover;
      object-position: center;
    }
  }

  .info {
    @include flex-layout(column, space-between, flex-start);
    &__title {
      font-weight: 700;
    }
  }
}
