@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.comment {
  padding-top: 0;

  @include desktop {
    border-right: 1px solid $line-outline-color;
  }

  &__content {
    border-bottom: 1px solid $line-outline-color;
    @include desktop {
      border: none;
    }
  }

  &__title {
    margin-bottom: $padding-regular-mobile;
  }

  &__avatar {
    max-width: 2.25rem;
    height: 2.25rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    align-self: flex-start;
    margin: 1.2rem $padding-regular-mobile 0 0;
  }

  &__input-section {
    @include flex-layout(row, center, center);
    padding-bottom: 1rem;
  }

  .form {
    width: 100%;

    @include tablet {
      @include flex-layout(row, flex-start, center);
    }

    &__container {
      @include flex-layout(column, center, space-between);
      @include tablet {
        width: 100%;
      }
    }
  }

  &__button {
    @include tablet {
      margin: 0.3rem 0 0 1rem;
    }
  }

  label {
    color: $secondary-text-color;
  }

  textarea {
    height: 2.25rem;
    width: 100%;
    border-radius: 4px;
    padding: 0.75rem;
    border: 1px solid $line-outline-color;
    font-family: inherit;
    min-height: 6rem;
    resize: none;
    margin-bottom: $padding-regular-mobile;

    @include tablet {
      height: 2.5rem;
      min-height: auto;
      overflow: hidden;
    }

    &::placeholder {
      color: $secondary-text-color;
    }

    &:focus {
      border: 1px solid $primary-text-color;
    }
  }
}

.card {
  @include flex-layout(row, flex-start, flex-start);
  padding: 1rem 0;
  border-top: 1px solid $line-outline-color;

  @include desktop {
    margin-right: -2rem;
  }

  &__avatar {
    max-width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: $line-outline-color;
    white-space: nowrap;
    text-indent: 200%;
    overflow: hidden;
  }

  &__detail {
    margin-left: 1rem;
    width: 100%;
    @include flex-layout(column, center);
  }

  &__header {
    @include flex-layout(row, space-between);
    margin-bottom: 1rem;
    width: 100%;
  }

  &__author {
    font-weight: 700;
  }

  &__date {
    color: $secondary-text-color;
    @include desktop {
      margin-right: 2rem;
    }
  }

  &__text {
    @include desktop {
      margin-right: 2rem;
    }
  }

  &__delete-button {
    margin: 1rem 0 0 auto;
    @include desktop {
      margin-right: 2rem;
    }
  }
}
